# This file is managed by Ansible
<VirtualHost _default_:443>

ServerName {{ koji_web_public_hostname }}
UseCanonicalName On

RewriteEngine on
{% if httpd_robots_block_ai_agents %}
# httpd_robots_block_ai_agents boolean turned on so blocking all identified agents directly
# This is coming from https://github.com/ai-robots-txt/ai.robots.txt/blob/main/.htaccess so update on regular basis
RewriteCond %{HTTP_USER_AGENT} ({{ httpd_robots_block_ai_agents_list | map('replace', '-', '\\-') | map('replace', '.', '\\.')| map('replace', ' ', '\\ ') | join('|') }}) [NC]
RewriteRule !^/?robots\.txt$ - [F]
{% endif %}

{% if koji_web_auth_openidc %}
# koji_web_auth_openidc boolean turned on, so protecting some kojiweb URIs through openidc
# mod_auth_openidc settings for this vhost
OIDCProviderMetadataURL {{ koji_web_auth_openidc_idp_url }}
OIDCClientID            {{ koji_web_auth_openidc_client }}
OIDCClientSecret        {{ koji_web_auth_openidc_secret }}
OIDCCryptoPassphrase    {{ koji_web_auth_openidc_cryptopassphrase }}
# creating "fake" callback to location defined below that will redirect to kojiweb
OIDCRedirectURI https://{{ koji_web_public_hostname }}/oidc_login/callback

<Location "/oidc_login">
  AuthType openid-connect
  Require valid-user
  # Once authenticated, immediately bounce them back to the main site
  RewriteRule ^ /koji [R=302,L]
</Location>

# Redirecting visible webui login to oidc created location
RewriteRule ^/koji/login/?$ /oidc_login [R=302,L]
RewriteCond %{REQUEST_URI} !^/oidc_login$
RewriteRule  ^/$    /koji [R,L] 
# Checking if users are authenticated otherwise block them to following URIs
RewriteCond %{HTTP_COOKIE} !mod_auth_openidc_session [NC]
RewriteRule "^.*/koji/(fileinfo|archivelist|rpminfo|rpmlist|packageinfo|packages|buildrootinfo|userinfo)" "-" [F,L]
{% else %}
# Just redirecting all to koji by default
RewriteRule  ^/$    /koji [R,L] 
{% endif %}


 Header always set Strict-Transport-Security "max-age=31536000"  
 Header always set X-Frame-Options "SAMEORIGIN"
 Header always set X-Xss-Protection "1; mode=block"
 Header always set X-Content-Type-Options "nosniff"
 Header always set Referrer-Policy "same-origin"

{% if koji_web_httpd_snippet is defined %}
{{ koji_web_httpd_snippet }}
{% endif %}

ErrorLog logs/ssl_error_log
TransferLog logs/ssl_access_log
LogLevel warn

SSLEngine on
{{ httpd_tls_ciphers }}

# Here are the Koji certs/keys/cacert

SSLCertificateFile /etc/pki/tls/certs/{{ koji_web_tls_cert }}
SSLCertificateKeyFile /etc/pki/tls/private/{{ koji_web_tls_key }}
SSLCertificateChainFile /etc/pki/tls/certs/{{ koji_web_cacert }}

{% if koji_auth_tls %}
SSLCACertificateFile /etc/pki/koji/{{ koji_hub_cacert }}
SSLCARevocationFile /etc/pki/koji/crl.pem
{% endif %}

# Needed to verify the koji client certificates
#SSLVerifyClient require
#SSLVerifyDepth  10

<Files ~ "\.(cgi|shtml|phtml|php3?)$">
    SSLOptions +StdEnvVars
</Files>
<Directory "/var/www/cgi-bin">
    SSLOptions +StdEnvVars
</Directory>

SetEnvIf User-Agent ".*MSIE.*" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0

CustomLog logs/ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>                              
