[kojira]
; The URL for the koji hub server
server={{ koji_hub_url }}

; The directory containing the repos/ directory
topdir={{ koji_mountpoint }}/koji

; Logfile
logfile=/var/log/kojira.log

; Include srpms in repos? (not needed for normal operation)
with_src=no

{% if koji_auth_kerberos %}
; For Kerberos authentication
;the kerberos principal to use
principal = {{ koji_kojira_principal }}
;location of the keytab
keytab = /etc/kojira/{{ koji_kojira_keytab }}

;the service name of the principal being used by the hub
;krbservice = host
{% endif %}

{% if koji_auth_tls %}
;configuration for SSL authentication

;client certificate
cert = /etc/pki/koji/{{ koji_kojira_tls_pem }}

;certificate of the CA that issued the client certificate
ca = /etc/pki/koji/{{ koji_hub_cacert }}

;certificate of the CA that issued the HTTP server certificate
serverca = /etc/pki/ca-trust/extracted/openssl/ca-bundle.trust.crt

{% endif %}

;how soon (in seconds) to clean up expired repositories. 1 week default
;deleted_repo_lifetime = 604800

;how soon (in seconds) to clean up dist repositories. 1 week default here too
;dist_repo_lifetime = 604800

;turn on debugging statements in the log
;debug = false

; ignored repositories according to glob. Multiple masks separated by space.
; ignore_tags =


; Monitor external repos and trigger the appropriate Koji repo regenerations
; when they change. Note that you need to have your database set to use UTC,
; as otherwise you can end with weird behaviour. For details see
; https://pagure.io/koji/issue/2159
; check_external_repos = false


