[kojira]
; The URL for the koji hub server
server={{ koji_hub_url }}

; The directory containing the repos/ directory
topdir={{ koji_mountpoint }}/koji

; Logfile
logfile=/var/log/kojira.log

; Include srpms in repos? (not needed for normal operation)
with_src=no

{% if koji_auth_kerberos %}
; For Kerberos authentication
;the kerberos principal to use
principal = {{ koji_kojira_principal }}
;location of the keytab
keytab = /etc/kojira/{{ koji_kojira_keytab }}

;the service name of the principal being used by the hub
;krbservice = host
{% endif %}

{% if koji_auth_tls %}
;configuration for SSL authentication

;client certificate
cert = /etc/pki/koji/{{ koji_kojira_tls_pem }}

;certificate of the CA that issued the HTTP server certificate
serverca = /etc/pki/ca-trust/extracted/openssl/ca-bundle.trust.crt

{% endif %}

;how soon (in seconds) to clean up expired repositories. 
deleted_repo_lifetime = {{ kojira_delete_repo_lifetime }}

;how soon (in seconds) to clean up dist repositories. 
dist_repo_lifetime = {{ kojira_dist_repo_lifetime }}

;turn on debugging statements in the log
;debug = false

{% if koji_kojira_ignore_tags %}
; ignored repositories according to glob. Multiple masks separated by space.
ignore_tags = {{ koji_kojira_ignored_tags }}
{% endif %}


; Monitor external repos and trigger the appropriate Koji repo regenerations
; when they change. Note that you need to have your database set to use UTC,
; as otherwise you can end with weird behaviour. For details see
; https://pagure.io/koji/issue/2159
{% if koji_kojira_check_external_repos %}
check_external_repos = true
{% else %}
; check_external_repos = false
{% endif %}

