[fas]
# The topurl of your FAS Install
topurl={{ koji_fas_url }}
# User in fas-system group that can read info     	
username={{ koji_fas_user }}         
password={{ koji_fas_pass }}     
group_prefix=sig-                     
group_file=/etc/bsadmin/groups        
ignore_selfsigned=yes                  

