[koji]
;url of XMLRPC server - defaulting to localhost for koji user/admin on hub itself
server = {{ koji_hub_url }}
;url of web interface
weburl = {{ koji_web_url }}

;url of package download site
topurl = {{ koji_files_url }}

;path to the koji top directory
topdir = /mnt/koji

{% if koji_auth_tls %}
;forcing x509 auth (default to kerberos on 1.11)
authtype = ssl
;client certificate
cert = /etc/pki/koji/{{ koji_admin_pem }}


{% endif %}

;certificate of the CA that issued the HTTP server certificate
serverca = /etc/pki/ca-trust/extracted/openssl/ca-bundle.trust.crt


{%if koji_auth_kerberos %}
;the principal to auth as for automated clients
principal = {{ koji_admin_user }}@{{ koji_auth_realm }}
	
;the keytab to auth as for automated clients
keytab = /home/{{ koji_admin_user }}/{{ koji_admin_keytab }}
{% endif %}
